[submodule "operating-system"]
	path = operating-system
	url = ../windows-operating-system
[submodule "source"]
	path = source
	url = ../simple-source
[submodule "ort"]
	path = ort
	url = ../windows-port
[submodule "port"]
	path = port
	url = ../android-port
	branch = main
[submodule "operating_system"]
	path = operating_system
	url = ../android-operating_system
	branch = main
